html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --sbar-bg-clr: rgba(0, 0, 255, 0.7);
    --sbar-txt-clr: white;
    --main-bg-clr: rgba(0, 0, 0, 0.103);
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    font-size: 1em;
    display: grid;
    grid-template-columns: clamp(200px, 25%, 280px) 1fr
}

aside {
    max-height: 100vh;
    padding: 0 2em 0 1em;
    margin: 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--sbar-bg-clr);
    color: var(--sbar-txt-clr);
}

aside > .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

aside .logo > img {
    width: 3em;
}

aside > ul {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    color: var(--sbar-txt-clr);
    font-size: 1.2em;
    margin-left: .4em;
}

li {
    display: flex;
    align-items: center;
}

.dash-sidebar {
    margin-bottom: 4em;
}

.dash-sidebar, .sub-dash {
    line-height: 5vh;
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto 1fr;
}

main .m-projects-container {
    grid-column: 1 / 2;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--main-bg-clr);
}

main .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5em;
}

main .project-container .projects {
    background-color: var(--sbar-txt-clr);
    display: flex;
    flex-direction: column;
    border-left: solid 1rem;
    border-radius: 15px;
    padding: 1rem;
}

main .i-button {
    fill: black;
}

main .trend {
    display: flex;
}

main .content-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.content-buttons button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

.userid {
    font-weight: bold;
}

main .announcements, main .trending {
    background-color: var(--sbar-txt-clr);
    padding: 1rem;
    border-radius: 1rem;
}

main .features {
    grid-column: 2/-1;
    background-color: var(--main-bg-clr);
    padding: 1rem;
}

header {
    grid-row: 1/2;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    position: relative;
}

header > * {
    display: flex;
}

header > .top-header {
    align-items: center;
    flex-wrap: wrap;
}

.top-header > label {
    padding: .5em;
    flex: 2;
    display: flex;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: var(--main-bg-clr);
    cursor: pointer;
    height: 2.5em;
    outline: none;
    border-radius: 2em;
    flex: 1;
}

.top-header .login {
    padding: .5em;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

header > nav {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
}

header nav .presentation {
    flex: 2;
    display: flex;
    align-items: center;
}

.presentation .hi-there {
    font-weight: bold;
    font-size: .8em;
}

.presentation .hi-there .username {
    font-size: 2em;
}

header nav .nav-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

nav .nav-button button{
    padding: .8rem;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--sbar-bg-clr);
    color: var(--sbar-txt-clr);
    cursor: pointer;
    border-radius: 1rem;
    border: none;
}

.icons, .i-button {
    width: 2em;
    fill: aliceblue;
}

.p-logo {
    width: 3em;
    height: 3em;
    padding: 5px;
    margin: 0 .4em;
    border: solid;
    border-radius: 50%;
}

